
        <h3> Book formule </h3>

        <%= simple_form_for [@boat, @order] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.submit "Submit", class: "btn btn-primary"  %>
        <% end %>
