<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MoulBato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about as</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">log in</a></li>
            <li><a class="dropdown-item" href="#">sign up</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Add your boat</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">search</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<img src="/assets/homepage.jpg;" class="img-fluid" alt="boat">
<div class="banner" style="">
  <div class="banner-content">
    <h1>Find the right boat for your needs </h1>
    <p>The best boats respond to your needs.</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon Casablanca Batch #717
  </div>
  <div class="navbar-wagon-item">
    <div class="dropdown">

      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

      </ul>

    </div>
  </div>


</div>
