.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar {
  margin-top: -20px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid .navbar-brand {
 color: #1BCB7F;
}
.navbar-nav .nav-item .nav-link.active {
 color: #1BCB7F;
}
.navbar-nav .nav-item .nav-link {
 color: #1BCB7F;
}
