.card-product {
  overflow: hidden;
  height: 120px;
  width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-trip-pricing {
  margin-top: 16px;
  padding-top: 20px;
}


.card-product img {
  height: 16%;
  width: 16px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.container .card-trip-infos{
  margin-top: 20px;
}
.un {
  height: 8 0px;
}
.card_body {
  padding: 100px;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.productView{
    width: 890px;
    text-align: center;
    margin: auto;
    margin-top: 21px;
}
.btn-flat {
  a {
    color: rgb(228, 228, 231) !important;
    background-color: rgb(73, 73, 181);
    padding: 14px 28px;
    display: block !important;
  }
}
